
<div class="four wide column center aligned votes">
    <div class="ui statistic">
        <div class="value">
            {{accomodation.beds}}
        </div>
        <div class="label">
            Beds
        </div>
    </div>
</div>
    <div class="twelve wide column">
        <div class="label">
            total number of nights:
        </div>
        <a class="ui large header">
            {{accomodation.nights}}
        </a>
      
        
        <div class="label">
            Price total:
        </div>
        <div class="meta">
            {{accomodation.totalPrice}}
        </div>
        <button class="ui positive right floated button" (click)="onDelete(accomodation)">Delete</button>
        <button class="ui positive left floated button" (click)="onEdit(accomodation)">{{btnVal}}</button>
    </div>

