<div class="four wide column center aligned votes">
    <div class="ui statistic">
        <div class="value">
            {{accomodation.beds}}
        </div>
        <div class="label">
            Beds
        </div>
    </div>
</div>
    <div class="twelve wide column">
        <a class="ui large header">
            {{accomodation.price}}
        </a>
        <div class="label">
            Price per bed:
        </div>
        <div class="meta">
            {{accomodation.pricePerBed()}}
        </div>

    </div>