<div class="navbar">
    <!-- <div class="ui positive right floated buttons">
        <button (click)="displayCont(0)" class="ui button">Accomodations</button>
        <button (click)="displayCont(1)" class="ui button">Special offers</button>
        <button (click)="displayCont(2)" class="ui button">About</button>
    </div> -->
    <div class="ui positive left floated buttons">
        <a href="accomodations" class="ui button">Accomodations</a>
        <a href="preporuke" class="ui button">Special offers</a>
        <a href="kontakt" class="ui button">About</a>
    </div>
</div>
    
