<form class="ui large form segment">
    <h3 class="ui header">Add an accomodation</h3>
    <div class="field">
        <label for="beds">Beds:</label>
        <input name="beds" #newbeds>
    </div>
    <div class="field">
        <label for="price">price:</label>
        <input name="price" #newprice>
    </div>
    <button (click)="addRoom(newbeds, newprice)" class="ui positive right floated button">
        Submit accomodations
    </button>
</form>
<div class="ui grid posts">
    <app-accomodation *ngFor="let accomodation of accomodations" [accomodation]="accomodation">
    </app-accomodation>
</div>