<app-navbarcomponent (display)="displayCont($event)"></app-navbarcomponent>
<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="ui large form segment" [class.error]="!myForm.valid">
    <h3 class="ui header">Add an accomodation</h3>
    <div class="field">
        <label for="beds">Beds:</label>
        <input name="beds" #newbeds formControlName="bedsInput">
        <div *ngIf="!myForm.controls['bedsInput'].valid">Unos nije validan</div>
    </div>
    <div class="field">
        <label for="nights">nights:</label>
        <input name="nights" #newnights formControlName="nightsInput">
        <div *ngIf="!myForm.controls['nightsInput'].valid">Unos nije validan</div>
    </div>
    <div>
        <li>
            <input type="checkbox" name="minibar" formControlName="minibar">
            <label for="minibar">Minibar</label> 
        </li>
        <div *ngIf="myForm.controls['minibar'].value">nights will be increased by 50%!!</div>
    </div>
    <button type="submit" class="ui positive right floated button">
        Submit
    </button>
</form>
<div *ngIf="dispCont[0]">
    <div class="ui grid posts">
        <app-accomodation *ngFor="let accomodation of accomodations" [accomodation]="accomodation">
        </app-accomodation>
    </div>
</div>
<div *ngIf="dispCont[1]">
    <div class="ui grid posts">
        <app-preporuka *ngFor="let preporuka of preporuke" [preporuka]="preporuka"></app-preporuka>
    </div>
</div>
<div *ngIf="dispCont[2]">
    <app-kontakt></app-kontakt>
</div>
